/*
Colors:
	Body 		  : #868F9B
	Headers 	: #10161A
	Primary 	: rgb(23,54,123)
	Dark      : #FCFCFF
	Grey 		  : #F4F4F4 #FAFAFA #EEE

Fonts: Montserrat Varela Round

Table Of Contents
------------------------------------
1 > General
2 > Logo
3 > Navigation
4 > Header
5 > Team
6 > Publications
7 > Contact
8 > Footer
9 > Responsive
10 > Back to top
11 > Preloader

------------------------------------*/

/*------------------------------------*\
	General
\*------------------------------------*/

/* -- typography -- */
body {
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    overflow-x: hidden;
    color: #868F9B;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Sylfaen', serif;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #10161A;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 3.0rem;
}

h3 {
    font-size: 2.0rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.2rem;
}

a {
    color: rgb(23,54,123);
    text-decoration: none;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

a:hover, a:focus {
    text-decoration: none;
    outline: none;
    opacity: 0.7;
    color: rgb(23,54,123);
}

.main-color {
    color: rgb(23,54,123);
}

.white-text {
    color: #FFF;
}

::-moz-selection {
    background-color: rgb(23,54,123);
    color: #FFF;
}

::selection {
    background-color: rgb(23,54,123);
    color: #FFF;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none
}

.round-img {
    border-radius: 100%;
}

/* -- section  -- */

.section {
    position: relative;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}
.section-description {
    margin-bottom: 3rem;
    text-align: center;
}
.section-description-txt {
    margin-bottom: 3rem;
}
.subsection-header h3 {
    color: rgb(23,54,123);
    margin-bottom: 3rem;
}
.subsection {
    margin-bottom: 3rem;
}


/* --  background section  -- */

.bg-grey {
    background-color: #F7F7F7;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}

.bg-dark {
    background-color: #1C1D21;
}


/* --  background image section  -- */

.bg-img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.bg-img .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .2;
    background: #1C1D21;
}
/* .teamBg{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-size: 1279px 400px;
} */

/* --  section header  -- */

.section-header {
    position: relative;
    margin-bottom: 30px;
}

.title:after {
    content:"";
  	display:block;
  	height:4px;
  	/* width:40px; */
    width:80px;
  	background-color: rgb(23,54,123);
    margin-top: 20px;
}

.text-center .title:after {
    margin: 10px auto 0px;
}

/* -- Table -- */
.table-head {
    /* width:600px; */
    text-align: center;
}
#table-container {
    margin:6%;
}
table {
    vertical-align: "top";
    border:"0";
    border-spacing: 1px;
    padding:3px;
    width:100%;
}
/* .table-pdf{
    width:60px;
} */
th, td {
    border-collapse: collapse;
    border-bottom: 1px solid;
    padding: 10px 30px 10px 0px;
    /* padding-right:10px; */
    text-align: left;
}
.table a i {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 3px;
    /* background-color: rgb(23,54,123); */
    /* color:#FFF; */
    color:black;
    margin-right: 1.5rem;
}
/* #table-date {
    valign:"top";
    nowrap:"nowrap";
} */
/* -- About -- */
.about h2{
    text-align: center;
}
/* --  Input  -- */

input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="date"], input[type="url"], input[type="tel"], textarea {
    height: 40px;
    width: 100%;
    border: none;
    background: #FFF;
    /* border-bottom: 2px solid #EEE; */
    border: 1px solid #CAC9C9;
    color: #354052;
    padding: 0px 10px;
    opacity: 0.5;
    -webkit-transition: 0.2s border-color, 0.2s opacity;
    transition: 0.2s border-color, 0.2s opacity;
}

textarea {
    padding: 10px 10px;
    min-height: 80px;
    resize: vertical;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="date"]:focus, input[type="url"]:focus, input[type="tel"]:focus, textarea:focus {
    border-color: rgb(23,54,123);
    opacity: 1;
}

/* --  Buttons  -- */

.main-btn, .white-btn, .outline-btn {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 3px;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

.main-btn {
    background: rgb(23,54,123);
    color: #FFF !important;
}

.white-btn {
    background: #FFF;
    color: #10161A !important;
}

.outline-btn {
    background: transparent;
    color: rgb(23,54,123) !important;
    border-color: rgb(23,54,123);
}

.main-btn:hover, .white-btn:hover, .outline-btn:hover .btn:hover{
    opacity: 0.8;
}


/*------------------------------------*\
	Logo
\*------------------------------------*/

.navbar-brand {
    padding: 0;
}

.navbar-brand .logo, .navbar-brand .logo-alt {
    max-height: 45px;
    display: block;
}

@media only screen and (max-width: 767px) {
    #nav.nav-transparent .navbar-brand .logo-alt {
        display: none !important;
    }
    #nav.nav-transparent .navbar-brand .logo {
        display: block !important;
    }
}


/*------------------------------------*\
	Navigation
\*------------------------------------*/

#nav {
    padding: 10px 0px;
    background: #FFF;
    -webkit-transition: 0.2s padding;
    transition: 0.2s padding;
    z-index: 999;
}

#nav.navbar {
    border: none;
    border-radius: 0;
    margin-bottom: 0px;
}

#nav.fixed-nav {
    position: fixed;
    left: 0;
    right: 0;
    padding: 0.5rem 2rem 0 2rem;
    background-color: #FFF !important;
    border-bottom: 1px solid #EEE;
}

/* #nav.nav-transparent {
    background: transparent;
} */


/* -- default nav -- */

@media only screen and (min-width: 768px) {
    .main-nav li {
        padding: 0px 15px;
    }
    .main-nav li a {
        font-size: 15px;
        -webkit-transition: 0.2s color;
        transition: 0.2s color;
    }
    .main-nav>li>a {
        color: #10161A;
        padding: 10px 0px;
    }
    /* #nav.nav-transparent:not(.fixed-nav) .main-nav>li>a {
        color: #fff;
    } */
    .main-nav>li>a:hover, .main-nav>li>a:focus, .main-nav>li.active>a {
        background: transparent;
        color: rgb(23,54,123);
    }
    .main-nav>li>a:after {
        content: "";
        display: block;
        background-color: rgb(23,54,123);
        height: 2px;
        width: 0%;
        -webkit-transition: 0.2s width;
        transition: 0.2s width;
    }
    .main-nav>li>a:hover:after, .main-nav>li.active>a:after {
        width: 100%;
    }

    /* dropdown */
    .has-dropdown {
        position: relative;
    }
    .has-dropdown>a:before {
        font-family: 'FontAwesome';
        content: "\f054";
        font-size: 6px;
        margin-left: 6px;
        float: right;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transition: 0.2s transform;
        transition: 0.2s transform;
    }
    .dropdown {
        position: absolute;
        right: -50%;
        top: 0;
        background-color: rgb(23,54,123);
        width: 200px;
        -webkit-box-shadow: 0px 5px 5px -5px rgba(53, 64, 82, 0.2);
        box-shadow: 0px 5px 5px -5px rgba(53, 64, 82, 0.2);
        -webkit-transform: translateY(15px) translateX(50%);
        -ms-transform: translateY(15px) translateX(50%);
        transform: translateY(15px) translateX(50%);
        opacity: 0;
        visibility: hidden;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }
    .main-nav>.has-dropdown>.dropdown {
        top: 100%;
        right: 50%;
    }
    .main-nav>.has-dropdown>.dropdown .dropdown.dropdown-left {
        right: 150%;
    }
    .dropdown li a {
        display: block;
        color: #FFF;
        border-top: 1px solid rgba(250, 250, 250, 0.1);
        padding: 10px 0px;
    }
    .dropdown li:nth-child(1) a {
        border-top: none;
    }
    .has-dropdown:hover>.dropdown {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0px) translateX(50%);
        -ms-transform: translateY(0px) translateX(50%);
        transform: translateY(0px) translateX(50%);
    }
    .has-dropdown:hover>a:before {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    .nav-collapse {
        display: none;
    }
}


/* -- mobile nav -- */

@media only screen and (max-width: 767px) {
    #nav {
        padding: 6px 10px;
    }
    #nav.nav-transparent {
        background: #FFF;
    }
    .main-nav {
        position: fixed;
        right: 0;
        /* height: calc(100vh - 80px); */
        -webkit-box-shadow: 0px 80px 0px 0px #1C1D21;
        box-shadow: 0px 80px 0px 0px #1C1D21;
        max-width: 200px;
        width: 0%;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        margin: 0;
        margin-top: 1rem;
        overflow-y: auto;
        background: #1C1D21;
        -webkit-transition: 0.3s all;
        transition: 0.3s all;
    }
    #nav.open .main-nav {
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
        width: 100%;
    }
    .main-nav li {
        border-top: 1px solid rgba(250, 250, 250, 0.1);
    }
    .main-nav li a {
        display: block;
        color: #FFF;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }
    .main-nav>li.active {
        border-left: 6px solid rgb(23,54,123);
    }
    .main-nav li a:hover, .main-nav li a:focus {
        background-color: rgb(23,54,123);
        color: #FFF;
        opacity: 1;
    }
    .has-dropdown>a:after {
        content: "\f054";
        font-family: 'FontAwesome';
        float: right;
        -webkit-transition: 0.2s -webkit-transform;
        transition: 0.2s -webkit-transform;
        transition: 0.2s transform;
        transition: 0.2s transform, 0.2s -webkit-transform;
    }
    .dropdown {
        opacity: 0;
        visibility: hidden;
        height: 0;
        background: rgba(250, 250, 250, 0.1);
    }
    .dropdown li a {
        padding: 6px 10px;
    }
    .has-dropdown.open-drop>a:after {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .has-dropdown.open-drop>.dropdown {
        opacity: 1;
        visibility: visible;
        height: auto;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }
}


/* -- nav btn collapse -- */

.nav-collapse {
    position: relative;
    float: right;
    width: 40px;
    /* height: 40px; */
    height: 35px;
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
    z-index: 99999;
}

.nav-collapse span {
    display: block;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
}

.nav-collapse span:before, .nav-collapse span:after {
    content: "";
    display: block;
}

.nav-collapse span, .nav-collapse span:before, .nav-collapse span:after {
    height: 4px;
    background: #10161A;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.nav-collapse span:before {
    -webkit-transform: translate(0%, 10px);
    -ms-transform: translate(0%, 10px);
    transform: translate(0%, 10px);
}

.nav-collapse span:after {
    -webkit-transform: translate(0%, -14px);
    -ms-transform: translate(0%, -14px);
    transform: translate(0%, -14px);
}

#nav.open .nav-collapse span {
    background: transparent;
}

#nav.open .nav-collapse span:before {
    -webkit-transform: translateY(0px) rotate(-135deg);
    -ms-transform: translateY(0px) rotate(-135deg);
    transform: translateY(0px) rotate(-135deg);
}

#nav.open .nav-collapse span:after {
    -webkit-transform: translateY(-4px) rotate(135deg);
    -ms-transform: translateY(-4px) rotate(135deg);
    transform: translateY(-4px) rotate(135deg);
}


/*------------------------------------*\
	Header
\*------------------------------------*/

header {
    position: relative;
}
#team-home {
    height: 60vh;
}
#home {
    height: 100vh;
}

#home .home-wrapper {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
#team-home .home-wrapper {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.home-content .overlay{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .5;
    background: #111111;
}
.home-content {
    color: white;
    text-align: center;
}
.home-content p {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}
.home-content .masthead-text {
    z-index: 10;
}

.header-wrapper h2 {
    display: inline-block;
    margin-bottom: 0px;
}

.header-wrapper .breadcrumb {
    float: right;
    background: transparent;
    margin-bottom: 0px;
}

.header-wrapper .breadcrumb .breadcrumb-item.active {
    color: #868F9B;
}

.breadcrumb>li+li:before {
    color: #868F9B;
}

/*------------------------------------*\
	Team
\*------------------------------------*/

.team {
    position: relative;
    display: inline-block;
    background-color: #F7F7F7;
    padding: 40px 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.team::after {
    /* content: ""; */
    /* background-color: #1C1D21; */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 0%;
    z-index: 1;
    -webkit-transition: 0.2s height;
    transition: 0.2s height;
}

.team:hover:after {
    height: 100%;
}

.team-img {
    position: relative;
    /* display: inline-block; */
    /* display: flex; */
    justify-content: center;
    z-index: 11;
    margin-bottom: 15px;
}

/* .team-img>img {
  width: 50%;
  height:50%;
} */

.team .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

.team:hover .overlay {
    opacity: 1;
}

.team-content {
    padding-right: 0;
    padding-left: 0;
}

.team .team-content .heading {
    position: relative;
    z-index: 11;
}

.team .team-content .team-heading {
    text-align: center;
    margin-bottom: 1.5rem;
}

.team .team-content h3 {
    margin-bottom: 10px;
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
}

.team .team-content span {
    font-size: 14px;
    text-transform: uppercase;
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
}

.team .team-social {
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}
.team .team-social a {
    display: block;
    /* margin: 0 auto; */
    margin-top: 4px;
    /* line-height: 50px; */
    line-height: 30px;
    /* width: 50px; */
    width:30px;
    height: 30px;
    text-align: center;
    background-color: rgb(23,54,123);
    color: #FFF;
    border-radius: 4px;
}
.team-social:hover {
    opacity: .7;
}
.team-description {
    margin: 4px;
    text-align: left;
}
@media only screen and (min-width: 1200px) {
    .team .team-content .team-description {
        height: 18rem;
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1200px) {
    .team .team-content .team-description {
        height: 21rem;
    }
    .first-team {
        margin-left: 4.16%
    }
}
@media only screen and (min-width: 767px) and (max-width: 1000px) {
    .team .team-content .team-description {
        height: 28.5rem;
    }
    .first-team {
        margin-left: 4.16%
    }
}
.img-square{
    border-radius: 4px;
    width: 200px;
    height: 200px;
}

/*------------------------------------*\
	Publications
\*------------------------------------*/

.publications {
    background-color: #FFF;
    margin: 15px 0px;
}

.discipline-book-btn {
    background-color: rgb(23,54,123) !important;
}

.weekly-recap-row {
    margin-top: 60px;
}

.publications .publications-content {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    height: 20rem;
}
.publication-download {
    padding-bottom: 20px;
}
.publication-download>a {
    background-color: rgb(23,54,123);
}

.publications .publications-meta {
    margin-bottom: 20px;
}

.publications .publications-meta li {
    display: inline-block;
    font-size: 14px;
    color: #10161A;
    margin-right: 10px;
}

.publications .publications-meta li i {
    color: rgb(23,54,123);
    margin-right: 5px;
}
.weekly-recap-section {
    margin-bottom: 30px;
}
.weekly-recap-section-head {
    text-align: center;
    border-bottom: 1px solid #999999;
}
.weekly-recap-section-head h3 {
    color: rgb(23,54,123);
}
.weekly-recap {
    width: 100%;
    text-align: center;
    padding: 5px 0;
}
@media only screen and (min-width: 991px) and (max-width: 1200px) {
    .publications .publications-content {
        height: 27rem;
    }
}
@media only screen and (max-width: 991px) {
    .publications .publications-content {
        height: 23rem;
    }
}
@media only screen and (max-width: 767px) {
    .publications .publications-content {
        height: 17rem;
    }
}
@media only screen and (max-width: 480px) {
    .publications .publications-content {
        height: 21.5rem;
    }
}

@media only screen and (max-width: 380px) {
    .publications .publications-content {
        height: 26rem;
    }
}

/*------------------------------------*\
	Contact
\*------------------------------------*/

.contact {
    margin: 15px 0px;
    text-align: center;
}

.contact i {
    font-size: 36px;
    color: rgb(23,54,123);
    margin-bottom: 20px;
}

.contact-form {
    text-align: center;
    margin-top: 40px;
}

.contact-form .input {
    margin-bottom: 20px;
}


.contact-form .input:nth-child(1), .contact-form .input:nth-child(2) {
    width: calc(50% - 10px);
}

.contact-form .input:nth-child(2) {
    margin-left: 15px;
}

/*------------------------------------*\
	Footer
\*------------------------------------*/

#footer {
    position: relative;
    padding-bottom: 10px;
    /* background-color: rgb(23,54,123); */
    /* color: #FFFFFF; */
}

.footer-logo {
    text-align: center;
    margin-bottom: 40px;
}

.footer-logo>a>img {
    max-height: 80px;
}

.footer-follow {
    margin-bottom: 20px;
}

.footer-follow li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 13px;
}

.footer-follow li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 3px;
  background-color: rgb(23,54,123);
  color:#FFF;
  margin-right: 1.5rem;
}

.footer-copyright p {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
}
.footer-disclaimer {
    margin-bottom: 20px;
}

/*------------------------------------*\
	Responsive
\*------------------------------------*/


@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 767px) {
  .section-header h2.title {
  		font-size:31.5px;

	}

  .main-btn , .default-btn , .outline-btn , .white-btn  {
  		padding: 8px 22px;
  		font-size:14px;
	}

  .header-wrapper h2 {
      margin-bottom: 20px;
      text-align: center;
      display: block;
  }

  .header-wrapper .breadcrumb {
      float: none;
      text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  #portfolio [class*='col-xs'] {
		  width:100%;
	}

  #numbers [class*='col-xs'] {
		  width:100%;
	}

  .contact-form .input:nth-child(1), .contact-form .input:nth-child(2) {
      width: 100%;
  }
  .contact-form .input:nth-child(2) {
      margin-left: 0px;
  }

  .reply-form form .input, .reply-form form .input {
      width: 100%;
  }
  .reply-form form .input:nth-child(2) {
      margin-left: 0px;
  }



  .publications-author .media .media-left {
      display: block;
      padding-right: 0;
      margin-bottom: 20px;
  }
  .publications-author .media {
      text-align: center;
  }
  .publications-author .media .media-heading .author-social {
      margin-top: 10px;
      float: none;
  }
  .publications-author .media .media-left img {
      margin: auto;
  }

  .publications-comments .media .media {
      margin:0px -15px;
  }
}

/*------------------------------------*\
	Back to top
\*------------------------------------*/

#back-to-top {
  	display:none;
  	position: fixed;
  	bottom: 20px;
  	right: 20px;
  	width: 50px;
  	height: 50px;
  	line-height: 50px;
  	text-align: center;
  	background: rgb(23,54,123);
  	border-radius:3px;
  	color: #FFF;
  	z-index: 9999;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
  	cursor: pointer;
}

#back-to-top:after {
    content: "\f106";
    font-family: 'FontAwesome';
}

#back-to-top:hover {
    opacity: 0.8;
}

/*------------------------------------*\
	Preloader
\*------------------------------------*/


#preloader {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #FFF;
    z-index: 99999;
}

.preloader {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.preloader span {
    display: inline-block;
    background-color: rgb(23,54,123);
    width: 25px;
    height: 25px;
    -webkit-animation: 1s preload ease-in-out infinite;
            animation: preload 1s ease-in-out infinite;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    border-radius:50%;
}

.preloader span:nth-child(1) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
}

.preloader span:nth-child(2) {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
}

.preloader span:nth-child(3) {
    -webkit-animation-delay: 0.15s;
            animation-delay: 0.15s;
}

.preloader span:nth-child(4) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
}

@-webkit-keyframes preload {
	0% {
	   -webkit-transform:scale(0);
	           transform:scale(0);
	}
  50% {
    -webkit-transform:scale(1);
            transform:scale(1);
  }
  100% {
    -webkit-transform:scale(0);
            transform:scale(0);
  }
}

@keyframes preload {
	0% {
	   -webkit-transform:scale(0);
	           transform:scale(0);
	}
  50% {
    -webkit-transform:scale(1);
            transform:scale(1);
  }
  100% {
    -webkit-transform:scale(0);
            transform:scale(0);
  }
}

/*------------------------------------*\
	Grid
\*------------------------------------*/
